<h2>Back fo House Evaluation</h2>
<br> </br>

<% @users.each do |user| %>

    <h4> <%= user.name %> </h4>
    <h3> Do you have HEART?</h3>
    
    <%= form_for(user) do |f| %>
    <% begin %>
  
        <h3><%= "Hover mouse over"%> <%= image_tag("info_three.png", :alt => "rss feed")%> <%="to see detailed description of each letter" %></h3>
        <h8> Hunger for Wisdom </h8>
         <a title="Hunger for Wisdom:
Do they continue to learn and expand their knowledge?"> <%= image_tag("info_three.png", :alt => "rss feed")%> </a>
            <div class="form-inline">
            <div class="form-group">
                 <%= f.radio_button :current_one, 1 %>
                 <h7> 1 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_one, 2 %>
                 <h7> 2 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_one, 3 %>
                 <h7> 3 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_one, 4 %>
                 <h7> 4 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_one, 5 %>
                 <h7> 5 </h7>
            </div>
            </div>
    
        
        <h8> Expect the Best </h8>
         <a title="Expect the Best:
Are they a role model living up to our standards or do they try to cut corners?"> <%= image_tag("info_three.png", :alt => "rss feed")%> </a>
            <div class="form-inline">
            <div class="form-group">
                 <%= f.radio_button :current_two, 1 %>
                 <h7> 1 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_two, 2 %>
                 <h7> 2 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_two, 3 %>
                 <h7> 3 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_two, 4 %>
                 <h7> 4 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_two, 5 %>
                 <h7> 5 </h7>
            </div>
            </div>
            
        <h8> Accept Responsibility </h8>
         <a title="Accept Responsibility:
When they made a mistake, do they own up to
it and grow from the experience?"> <%= image_tag("info_three.png", :alt => "rss feed")%> </a>
            <div class="form-inline">
            <div class="form-group">
                 <%= f.radio_button :current_three, 1 %>
                 <h7> 1 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_three, 2 %>
                 <h7> 2 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_three, 3 %>
                 <h7> 3 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_three, 4 %>
                 <h7> 4 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_three, 5 %>
                 <h7> 5 </h7>
            </div>
            </div>
            
        <h8> Respond with Courage </h8>
         <a title="Respond with Courage:
Do they do the right thing even when it’s not easy?"> <%= image_tag("info_three.png", :alt => "rss feed")%> </a>
            <div class="form-inline">
            <div class="form-group">
                 <%= f.radio_button :current_four, 1 %>
                 <h7> 1 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_four, 2 %>
                 <h7> 2 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_four, 3 %>
                 <h7> 3 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_four, 4 %>
                 <h7> 4 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_four, 5 %>
                 <h7> 5 </h7>
            </div>
            </div>
            
        <h8> Think others first </h8>
         <a title="Think others first:
Do they think of their fellow team members and how they can help them 
before they think of what’s easiest for them?"> <%= image_tag("info_three.png", :alt => "rss feed")%> </a>
            <div class="form-inline">
            <div class="form-group">
                 <%= f.radio_button :current_five, 1 %>
                 <h7> 1 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_five, 2 %>
                 <h7> 2 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_five, 3 %>
                 <h7> 3 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_five, 4 %>
                 <h7> 4 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_five, 5 %>
                 <h7> 5 </h7>
            </div>
            </div>
    
    
   
    
    
    <div class="form-group">
        <h8> Following Proper Policies & Procedures - i.e. Uniform, LEAN, Timers, Cell Phones </h8>
            <div class="form-inline">
            <div class="form-group">
                 <%= f.radio_button :current_extra_one, 1 %>
                 <h7> 1 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_one, 2 %>
                 <h7> 2 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_one, 3 %>
                 <h7> 3 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_one, 4 %>
                 <h7> 4 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_one, 5 %>
                 <h7> 5 </h7>
            </div>
            </div>
            
            <div class="form-group">
        <h8> Communicating respectively to Guests and Team Members </h8>
            <div class="form-inline">
            <div class="form-group">
                 <%= f.radio_button :current_extra_two, 1 %>
                 <h7> 1 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_two, 2 %>
                 <h7> 2 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_two, 3 %>
                 <h7> 3 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_two, 4 %>
                 <h7> 4 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_two, 5 %>
                 <h7> 5 </h7>
            </div>
            </div>
            
            <div class="form-group">
        <h8> Knowing & Adhering to Food Safety Procedures - i.e. changing gloves, washing hands </h8>
            <div class="form-inline">
            <div class="form-group">
                 <%= f.radio_button :current_extra_three, 1 %>
                 <h7> 1 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_three, 2 %>
                 <h7> 2 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_three, 3 %>
                 <h7> 3 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_three, 4 %>
                 <h7> 4 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_three, 5 %>
                 <h7> 5 </h7>
            </div>
            </div>
            
             <div class="form-group">
        <h8> Attendance & Punctuality </h8>
            <div class="form-inline">
            <div class="form-group">
                 <%= f.radio_button :current_extra_four, 1 %>
                 <h7> 1 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_four, 2 %>
                 <h7> 2 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_four, 3 %>
                 <h7> 3 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_four, 4 %>
                 <h7> 4 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_four, 5 %>
                 <h7> 5 </h7>
            </div>
            </div>
            
               <div class="form-group">
        <h8> Knowing & Following Store Non-negotiables </h8>
            <div class="form-inline">
            <div class="form-group">
                 <%= f.radio_button :current_extra_five, 1 %>
                 <h7> 1 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_five, 2 %>
                 <h7> 2 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_five, 3 %>
                 <h7> 3 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_five, 4 %>
                 <h7> 4 </h7>
            </div>
            <div class="form-group">
                 <%= f.radio_button :current_extra_five, 5 %>
                 <h7> 5 </h7>
            </div>
            </div>
          
               <h8>  Additional Comments: </h8>
               <div class="form-group"></div>
               <div class="form-inline">
               <div class="col-md-7" > 
               
                <% if user.comment_one == nil || user.comment_one == "" %>
                   <%= f.text_area :comment_one, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_one != nil  && user.comment_two == nil || user.comment_two == "" %>
                    <%= f.text_area :comment_two, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_two != nil && user.comment_three == nil || user.comment_three == "" %>
                    <%= f.text_area :comment_three, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_three != nil && user.comment_four == nil || user.comment_four == "" %>
                    <%= f.text_area :comment_four, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_four != nil && user.comment_five == nil || user.comment_five == "" %>
                    <%= f.text_area :comment_five, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_five != nil && user.comment_six == nil || user.comment_six == "" %>
                    <%= f.text_area :comment_six, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_six != nil && user.comment_seven == nil || user.comment_seven == "" %>
                    <%= f.text_area :comment_seven, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_seven != nil && user.comment_eight == nil || user.comment_eight == "" %>
                    <%= f.text_area :comment_eight, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_eight != nil && user.comment_nine == nil || user.comment_nine == "" %>
                    <%= f.text_area :comment_nine, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_nine != nil && user.comment_ten == nil || user.comment_ten == "" %>
                    <%= f.text_area :comment_ten, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_ten != nil && user.comment_eleven == nil || user.comment_eleven == "" %>
                    <%= f.text_area :comment_eleven, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_eleven != nil && user.comment_twelve == nil || user.comment_twelve == "" %>
                    <%= f.text_area :comment_twelve, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_twelve != nil && user.comment_thirteen == nil || user.comment_thirteen == "" %>
                    <%= f.text_area :comment_thirteen, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_thirteen != nil && user.comment_fourteen == nil || user.comment_fourteen == "" %>
                    <%= f.text_area :comment_fourteen, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_fourteen != nil && user.comment_fifteen == nil || user.comment_fifteen == "" %>
                    <%= f.text_area :comment_fifteen, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_fifteen != nil && user.comment_sixteen == nil || user.comment_sixteen == "" %>
                    <%= f.text_area :comment_sixteen, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_sixteen != nil && user.comment_seventeen == nil || user.comment_seventeen == "" %>
                    <%= f.text_area :comment_seventeen, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_seventeen != nil && user.comment_eighteen == nil || user.comment_eighteen == "" %>
                    <%= f.text_area :comment_eighteen, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_eighteen != nil && user.comment_ninenteen == nil || user.comment_nineteen == "" %>
                    <%= f.text_area :comment_nineteen, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_nineteen != nil && user.comment_twenty == nil || user.comment_twenty == "" %>
                    <%= f.text_area :comment_twenty, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_twenty != nil && user.comment_twenty_one == nil || user.comment_twenty_one == "" %>
                    <%= f.text_area :comment_twenty_one, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_twenty_one != nil && user.comment_twenty_two == nil || user.comment_twenty_two == "" %>
                    <%= f.text_area :comment_twenty_two, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_twenty_two != nil && user.comment_twenty_three == nil || user.comment_twenty_three == "" %>
                    <%= f.text_area :comment_twenty_three, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_twenty_three != nil && user.comment_twenty_four == nil || user.comment_twenty_four == "" %>
                    <%= f.text_area :comment_twenty_four, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% elsif user.comment_twenty_four != nil && user.comment_twenty_five == nil || user.comment_twenty_five == "" %>
                    <%= f.text_area :comment_twenty_five, :rows => '12', :size => 10, placeholder: "Leave a comment..."  %>
                <% end %>
                
                
    </div>
    
         <div class="col-md-3 col-md-offset-4">
   <%= f.submit "Submit Score", class: "btn btn-default" %>
   
   
   <% if user.flag == true %>
    <script type="text/javascript">
  window.location.href="?page=<%=@users.current_page+1 %>"
  </script>
    <% end %>
      </div>
</div>
</div>
    <% end %>
    <!--<%= paginate @users %>-->
   <% end %>
<% end %>