<% provide(:title, 'Front of House Averages') %>
<h2>Front of House Averages</h2>

    
    <% @users.each do |user| %>
        <% if user.role == 4 || user.role == 1 %>
            <% average = user.overall %>
                <% if average == 1.9 %>
                    <% @array.push(user) %>
                <% end %>
                <% if average == 2.9 %>
                    <% @array2.push(user) %>
                <% end %>
                <% if average == 3.9 %>
                    <% @array3.push(user) %>
                <% end %>
                <% if average == 4.9 %>
                    <% @array4.push(user) %>
                <% end %>
                <% if average == 5.9 %>
                    <% @array5.push(user) %>
                <% end %>
        <% end %>
    <% end %>
    
    <% @users.each do |user| %>
        <% if user.role == 4 || user.role == 1 %>
            <% average = user.overall %>
                <% if average == 1.8 %>
                    <% @array.push(user) %>
                <% end %>
                <% if average == 2.8 %>
                    <% @array2.push(user) %>
                <% end %>
                <% if average == 3.8 %>
                    <% @array3.push(user) %>
                <% end %>
                <% if average == 4.8 %>
                    <% @array4.push(user) %>
                <% end %>
                <% if average == 5.8 %>
                    <% @array5.push(user) %>
                <% end %>
        <% end %>
    <% end %>
    
     <% @users.each do |user| %>
        <% if user.role == 4 || user.role == 1 %>
            <% average = user.overall %>
                <% if average == 1.7 %>
                    <% @array.push(user) %>
                <% end %>
                <% if average == 2.7 %>
                    <% @array2.push(user) %>
                <% end %>
                <% if average == 3.7 %>
                    <% @array3.push(user) %>
                <% end %>
                <% if average == 4.7 %>
                    <% @array4.push(user) %>
                <% end %>
                <% if average == 5.7 %>
                    <% @array5.push(user) %>
                <% end %>
        <% end %>
    <% end %>
    
     <% @users.each do |user| %>
        <% if user.role == 4 || user.role == 1 %>
            <% average = user.overall %>
                <% if average == 1.6 %>
                    <% @array.push(user) %>
                <% end %>
                <% if average == 2.6 %>
                    <% @array2.push(user) %>
                <% end %>
                <% if average == 3.6 %>
                    <% @array3.push(user) %>
                <% end %>
                <% if average == 4.6 %>
                    <% @array4.push(user) %>
                <% end %>
                <% if average == 5.6 %>
                    <% @array5.push(user) %>
                <% end %>
        <% end %>
    <% end %>
    
     <% @users.each do |user| %>
        <% if user.role == 4 || user.role == 1 %>
            <% average = user.overall %>
                <% if average == 1.5 %>
                    <% @array.push(user) %>
                <% end %>
                <% if average == 2.5 %>
                    <% @array2.push(user) %>
                <% end %>
                <% if average == 3.5 %>
                    <% @array3.push(user) %>
                <% end %>
                <% if average == 4.5 %>
                    <% @array4.push(user) %>
                <% end %>
                <% if average == 5.5 %>
                    <% @array5.push(user) %>
                <% end %>
        <% end %>
    <% end %>
    
     <% @users.each do |user| %>
        <% if user.role == 4 || user.role == 1 %>
            <% average = user.overall %>
                <% if average == 1.4 %>
                    <% @array.push(user) %>
                <% end %>
                <% if average == 2.4 %>
                    <% @array2.push(user) %>
                <% end %>
                <% if average == 3.4 %>
                    <% @array3.push(user) %>
                <% end %>
                <% if average == 4.4 %>
                    <% @array4.push(user) %>
                <% end %>
                <% if average == 5.4 %>
                    <% @array5.push(user) %>
                <% end %>
        <% end %>
    <% end %>
    
     <% @users.each do |user| %>
        <% if user.role == 4 || user.role == 1 %>
            <% average = user.overall %>
                <% if average == 1.3 %>
                    <% @array.push(user) %>
                <% end %>
                <% if average == 2.3 %>
                    <% @array2.push(user) %>
                <% end %>
                <% if average == 3.3 %>
                    <% @array3.push(user) %>
                <% end %>
                <% if average == 4.3 %>
                    <% @array4.push(user) %>
                <% end %>
                <% if average == 5.3 %>
                    <% @array5.push(user) %>
                <% end %>
        <% end %>
    <% end %>
    
     <% @users.each do |user| %>
        <% if user.role == 4 || user.role == 1 %>
            <% average = user.overall %>
                <% if average == 1.2 %>
                    <% @array.push(user) %>
                <% end %>
                <% if average == 2.2 %>
                    <% @array2.push(user) %>
                <% end %>
                <% if average == 3.2 %>
                    <% @array3.push(user) %>
                <% end %>
                <% if average == 4.2 %>
                    <% @array4.push(user) %>
                <% end %>
                <% if average == 5.2 %>
                    <% @array5.push(user) %>
                <% end %>
        <% end %>
    <% end %>
    
     <% @users.each do |user| %>
        <% if user.role == 4 || user.role == 1 %>
            <% average = user.overall %>
                <% if average == 1.1 %>
                    <% @array.push(user) %>
                <% end %>
                <% if average == 2.1 %>
                    <% @array2.push(user) %>
                <% end %>
                <% if average == 3.1 %>
                    <% @array3.push(user) %>
                <% end %>
                <% if average == 4.1 %>
                    <% @array4.push(user) %>
                <% end %>
                <% if average == 5.1 %>
                    <% @array5.push(user) %>
                <% end %>
        <% end %>
    <% end %>
    
     <% @users.each do |user| %>
        <% if user.role == 4 || user.role == 1 %>
            <% average = user.overall %>
                <% if average == 1.0 %>
                    <% @array.push(user) %>
                <% end %>
                <% if average == 2.0 %>
                    <% @array2.push(user) %>
                <% end %>
                <% if average == 3.0 %>
                    <% @array3.push(user) %>
                <% end %>
                <% if average == 4.0 %>
                    <% @array4.push(user) %>
                <% end %>
                <% if average == 5.0 %>
                    <% @array5.push(user) %>
                <% end %>
        <% end %>
    <% end %>
    
    
    <% @array5.each do |a, i| %>
        <h2><%= i%> </h2>
        <h2><%= a.name.to_s %> </h2>
        <h2><%= a.overall.to_s %> </h2>
    <% end %>
    
    <% @array4.each do |a, i| %>
        <h2><%= i%> </h2>
        <h2><%= a.name.to_s %> </h2>
        <h2><%= a.overall.to_s %> </h2>
    <% end %>
    
    <% @array3.each do |a, i| %>
    <div class="form-inline">
    <div class="form-group">
        <h2><%= i%> </h2>
        <h2><%= a.name.to_s %> </h2>
        </div>
        <div class="form-group">
        <h2><%= a.overall.to_s %> </h2>
        </div>
    </div>
    <% end %>
    
    <% @array2.each do |a, i| %>
        <h2><%= i%> </h2>
        <h2><%= a.name.to_s %> </h2>
        <h2><%= a.overall.to_s %> </h2>
    <% end %>
    
    <% @array.each do |a, i| %>
        <h2><%= i%> </h2>
        <h2><%= a.name.to_s %> </h2>
        <h2><%= a.overall.to_s %> </h2>
    <% end %>