<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-11 ">
    <section class="user_info">
      <h4>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h4>
      <h5>
        <% if @user.role == 0 %>
          <h3>Director</h3>
        <% end %>
        <% if @user.role == 1 %>
          <h3>Front of House</h3>
          <h3>Team Member</h3>
        <% end %>
        <% if @user.role == 2 %>
          <h3>Back of House</h3>
          <h3>Team Member</h3>
        <% end %>
         <% if @user.role == 3 %>
          <h3>Manager</h3>
        <% end %>
         <% if @user.role == 4 %>
          <h3>Front of House</h3>
          <h3>Shift Leader</h3>
        <% end %>
         <% if @user.role == 5 %>
          <h3>Back of House</h3>
          <h3>Shift Leader</h3>
        <% end %>
      </h5>
      
      <h3><%= "Hover mouse over"%> <%= image_tag("info_three.png", :alt => "rss feed")%> <%="to see detailed description of each letter" %></h3>
      
      <% if @user.role == 1 || @user.role == 2 || @user.role == 3 || @user.role == 4 || @user.role == 5 %>
       <aside class="col-md-10 col-md-offset-2">
      <div class="form-group">
            <div class="form-inline">
            <div class="form-group">
                  <h6> H </h6>
                    <aside class="col-md-11 col-md-offset-3">
                      <a title="Hunger for Wisdom:
You strive to know more about your career"> <%= image_tag("info_three.png", :alt => "rss feed")%> </a>
                    </aside>
            </div>
            <div class="form-group">
                  <h6> E </h6>
                    <aside class="col-md-11 col-md-offset-3">
                      <a title="Expect the Best: stuff"> <%= image_tag("info_three.png", :alt => "rss feed")%> </a>
                    </aside>
            </div>
            <div class="form-group">
                  <h6> A </h6>
                     <aside class="col-md-11 col-md-offset-3">
                      <a title="Accept Responsibility: stuff"> <%= image_tag("info_three.png", :alt => "rss feed")%> </a>
                    </aside>
            </div>
            <div class="form-group">
                  <h6> R </h6>
                    <aside class="col-md-11 col-md-offset-3">
                      <a title="RRRRRR: stuff"> <%= image_tag("info_three.png", :alt => "rss feed")%> </a>
                    </aside>
            </div>
            <div class="form-group">
                  <h6> T </h6>
                    <aside class="col-md-11 col-md-offset-1">
                      <a title="Think others First: stuff"> <%= image_tag("info_three.png", :alt => "rss feed")%> </a>
                    </aside>
            </div>
        </div>
    </div>
    </aside>
      
      <aside class="col-md-11 col-md-offset-2">
      <div class="form-group">
            <div class="form-inline">
            <div class="form-group">
                <% if @user.question_one == 0.0 %>
                    <h2> <%= @user.question_one %> </h2>
                <% end %>
                <% if @user.question_one >= 1.0 && @user.question_one <= 1.9 %>
                  <red><h2> <%= @user.question_one %> </h2></red>
                <% end %>
                <% if @user.question_one >= 2.0 && @user.question_one <= 2.9 %>
                  <orange><h2> <%= @user.question_one %> </h2></orange>
                <% end %>
                <% if @user.question_one >= 3.0 && @user.question_one <= 3.9 %>
                  <yellow><h2> <%= @user.question_one %> </h2></yellow>
                <% end %>
                <% if @user.question_one >= 4.0 && @user.question_one <= 4.9 %>
                  <lime><h2> <%= @user.question_one %> </h2></lime>
                <% end %>
                <% if @user.question_one == 5.0 %>
                  <green><h2> <%= @user.question_one %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% if @user.question_two == 0.0 %>
                    <h2> <%= @user.question_two %> </h2>
                <% end %>
                  <% if @user.question_two >= 1.0 && @user.question_two <= 1.9 %>
                  <red><h2> <%= @user.question_two %> </h2></red>
                <% end %>
                <% if @user.question_two >= 2.0 && @user.question_two <= 2.9 %>
                  <orange><h2> <%= @user.question_two %> </h2></orange>
                <% end %>
                <% if @user.question_two >= 3.0 && @user.question_two <= 3.9 %>
                  <yellow><h2> <%= @user.question_two %> </h2></yellow>
                <% end %>
                <% if @user.question_two >= 4.0 && @user.question_two <= 4.9 %>
                  <lime><h2> <%= @user.question_two %> </h2></lime>
                <% end %>
                <% if @user.question_two == 5.0 %>
                  <green><h2> <%= @user.question_two %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% if @user.question_three == 0.0 %>
                    <h2> <%= @user.question_three %> </h2>
                <% end %>
                  <% if @user.question_three >= 1.0 && @user.question_three <= 1.9 %>
                  <red><h2> <%= @user.question_three %> </h2></red>
                <% end %>
                <% if @user.question_three >= 2.0 && @user.question_three <= 2.9 %>
                  <orange><h2> <%= @user.question_three %> </h2></orange>
                <% end %>
                <% if @user.question_three >= 3.0 && @user.question_three <= 3.9 %>
                  <yellow><h2> <%= @user.question_three %> </h2></yellow>
                <% end %>
                <% if @user.question_three >= 4.0 && @user.question_three <= 4.9 %>
                  <lime><h2> <%= @user.question_three %> </h2></lime>
                <% end %>
                <% if @user.question_three == 5.0 %>
                  <green><h2> <%= @user.question_three %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% if @user.question_four == 0.0 %>
                    <h2> <%= @user.question_four %> </h2>
                <% end %>
                  <% if @user.question_four >= 1.0 && @user.question_four <= 1.9 %>
                  <red><h2> <%= @user.question_four %> </h2></red>
                <% end %>
                <% if @user.question_four >= 2.0 && @user.question_four <= 2.9 %>
                  <orange><h2> <%= @user.question_four %> </h2></orange>
                <% end %>
                <% if @user.question_four >= 3.0 && @user.question_four <= 3.9 %>
                  <yellow><h2> <%= @user.question_four %> </h2></yellow>
                <% end %>
                <% if @user.question_four >= 4.0 && @user.question_four <= 4.9 %>
                  <lime><h2> <%= @user.question_four %> </h2></lime>
                <% end %>
                <% if @user.question_four == 5.0 %>
                  <green><h2> <%= @user.question_four %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% if @user.question_five == 0.0 %>
                    <h2> <%= @user.question_five %> </h2>
                <% end %>
                  <% if @user.question_five >= 1.0 && @user.question_five <= 1.9 %>
                  <red><h2> <%= @user.question_five %> </h2></red>
                <% end %>
                <% if @user.question_five >= 2.0 && @user.question_five <= 2.9 %>
                  <orange><h2> <%= @user.question_five %> </h2></orange>
                <% end %>
                <% if @user.question_five >= 3.0 && @user.question_five <= 3.9 %>
                  <yellow><h2> <%= @user.question_five %> </h2></yellow>
                <% end %>
                <% if @user.question_five >= 4.0 && @user.question_five <= 4.9 %>
                  <lime><h2> <%= @user.question_five %> </h2></lime>
                <% end %>
                <% if @user.question_five == 5.0 %>
                  <green><h2> <%= @user.question_five %> </h2></green>
                <% end %>
            </div>
        </div>
    </div>
    </aside>
    
    <!-- store's average -->
    <aside class="col-md-11 col-md-offset-2">
      <div class="form-group">
            <div class="form-inline">
            <div class="form-group">
                  <% average = User.average(:question_one) %>
                  <h2> <%= number_with_precision(average, :precision => 1) %> </h2>
            </div>
            <div class="form-group">
                  <% average1 = User.average(:question_two) %>
                  <h2> <%= number_with_precision(average1, :precision => 1) %> </h2>
            </div>
            <div class="form-group">
                  <% average2 = User.average(:question_three) %>
                  <h2> <%= number_with_precision(average2, :precision => 1) %> </h2>
            </div>
            <div class="form-group">
                  <% average3 = User.average(:question_four) %>
                  <h2> <%= number_with_precision(average3, :precision => 1) %> </h2>
            </div>
            <div class="form-group">
                  <% average4 = User.average(:question_five) %>
                  <h2> <%= number_with_precision(average4, :precision => 1) %> </h2>
            </div>
        </div>
    </div>
    </aside>
    <% end %>
    
     <% if @user.role == 1 || @user.role == 2 || @user.role == 3 || @user.role == 4 || @user.role == 5 %>
       <aside class="col-md-3 col-md-offset-1">
      <div class="form-group">
            <div class="form-inline">
            <div class="form-group">
                  <h11> Questions </h11>
            </div>
        </div>
    </div>
    </aside>
    
    <!-- extra question results -->
     <aside class="col-md-11 col-md-offset-2">
      <div class="form-group">
            <div class="form-inline">
            <div class="form-group">
                <% if @user.extra_one == 0.0 %>
                    <h2> <%= @user.extra_one %> </h2>
                <% end %>
                <% if @user.extra_one >= 1.0 && @user.extra_one <= 1.9 %>
                  <red><h2> <%= @user.extra_one %> </h2></red>
                <% end %>
                <% if @user.extra_one >= 2.0 && @user.extra_one <= 2.9 %>
                  <orange><h2> <%= @user.extra_one %> </h2></orange>
                <% end %>
                <% if @user.extra_one >= 3.0 && @user.extra_one <= 3.9 %>
                  <yellow><h2> <%= @user.extra_one %> </h2></yellow>
                <% end %>
                <% if @user.extra_one >= 4.0 && @user.extra_one <= 4.9 %>
                  <lime><h2> <%= @user.extra_one %> </h2></lime>
                <% end %>
                <% if @user.extra_one == 5.0 %>
                  <green><h2> <%= @user.extra_one %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% if @user.extra_two == 0.0 %>
                    <h2> <%= @user.extra_two %> </h2>
                <% end %>
                  <% if @user.extra_two >= 1.0 && @user.extra_two <= 1.9 %>
                  <red><h2> <%= @user.extra_two %> </h2></red>
                <% end %>
                <% if @user.extra_two >= 2.0 && @user.extra_two <= 2.9 %>
                  <orange><h2> <%= @user.extra_two %> </h2></orange>
                <% end %>
                <% if @user.extra_two >= 3.0 && @user.extra_two <= 3.9 %>
                  <yellow><h2> <%= @user.extra_two %> </h2></yellow>
                <% end %>
                <% if @user.extra_two >= 4.0 && @user.extra_two <= 4.9 %>
                  <lime><h2> <%= @user.extra_two %> </h2></lime>
                <% end %>
                <% if @user.extra_two == 5.0 %>
                  <green><h2> <%= @user.extra_two %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% if @user.extra_three == 0.0 %>
                    <h2> <%= @user.extra_three %> </h2>
                <% end %>
                  <% if @user.extra_three >= 1.0 && @user.extra_three <= 1.9 %>
                  <red><h2> <%= @user.extra_three %> </h2></red>
                <% end %>
                <% if @user.extra_three >= 2.0 && @user.extra_three <= 2.9 %>
                  <orange><h2> <%= @user.extra_three %> </h2></orange>
                <% end %>
                <% if @user.extra_three >= 3.0 && @user.extra_three <= 3.9 %>
                  <yellow><h2> <%= @user.extra_three %> </h2></yellow>
                <% end %>
                <% if @user.extra_three >= 4.0 && @user.extra_three <= 4.9 %>
                  <lime><h2> <%= @user.extra_three %> </h2></lime>
                <% end %>
                <% if @user.extra_three == 5.0 %>
                  <green><h2> <%= @user.extra_three %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% if @user.question_four == 0.0 %>
                    <h2> <%= @user.extra_four %> </h2>
                <% end %>
                  <% if @user.extra_four >= 1.0 && @user.extra_four <= 1.9 %>
                  <red><h2> <%= @user.extra_four %> </h2></red>
                <% end %>
                <% if @user.extra_four >= 2.0 && @user.extra_four <= 2.9 %>
                  <orange><h2> <%= @user.extra_four %> </h2></orange>
                <% end %>
                <% if @user.extra_four >= 3.0 && @user.extra_four<= 3.9 %>
                  <yellow><h2> <%= @user.extra_four %> </h2></yellow>
                <% end %>
                <% if @user.extra_four >= 4.0 && @user.extra_four <= 4.9 %>
                  <lime><h2> <%= @user.extra_four %> </h2></lime>
                <% end %>
                <% if @user.question_one == 5.0 %>
                  <green><h2> <%= @user.question_four %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% if @user.question_five == 0.0 %>
                    <h2> <%= @user.extra_five %> </h2>
                <% end %>
                  <% if @user.extra_five >= 1.0 && @user.extra_five <= 1.9 %>
                  <red><h2> <%= @user.extra_five %> </h2></red>
                <% end %>
                <% if @user.extra_five >= 2.0 && @user.extra_five <= 2.9 %>
                  <orange><h2> <%= @user.extra_five %> </h2></orange>
                <% end %>
                <% if @user.extra_five >= 3.0 && @user.extra_five <= 3.9 %>
                  <yellow><h2> <%= @user.extra_five %> </h2></yellow>
                <% end %>
                <% if @user.extra_five >= 4.0 && @user.extra_five <= 4.9 %>
                  <lime><h2> <%= @user.extra_five %> </h2></lime>
                <% end %>
                <% if @user.extra_five == 5.0 %>
                  <green><h2> <%= @user.extra_five %> </h2></green>
                <% end %>
            </div>
        </div>
    </div>
    </aside>
    <% end %>
    
    <!-- store's average for extra questions -->
    <aside class="col-md-11 col-md-offset-2">
      <div class="form-group">
            <div class="form-inline">
            <div class="form-group">
                  <% average = User.average(:extra_one) %>
                  <h2> <%= number_with_precision(average, :precision => 1) %> </h2>
            </div>
            <div class="form-group">
                  <% average1 = User.average(:extra_two) %>
                  <h2> <%= number_with_precision(average1, :precision => 1) %> </h2>
            </div>
            <div class="form-group">
                  <% average2 = User.average(:extra_three) %>
                  <h2> <%= number_with_precision(average2, :precision => 1) %> </h2>
            </div>
            <div class="form-group">
                  <% average3 = User.average(:extra_four) %>
                  <h2> <%= number_with_precision(average3, :precision => 1) %> </h2>
            </div>
            <div class="form-group">
                  <% average4 = User.average(:extra_five) %>
                  <h2> <%= number_with_precision(average4, :precision => 1) %> </h2>
            </div>
        </div>
    </div>
    </aside>
    
    
    
      <div class="col-md-10 text-center" > 
      <% if @user.role == 0 && @user == current_user %>
       <%= link_to "Evaluate Team", all_path, class: "btn btn-lg btn-default" %>
      <% end %>
      
      <% if @user.role == 4 && @user == current_user %>
       <%= link_to "Evaluate Front", front_path, class: "btn btn-lg btn-default" %>
      <% end %>
      
      <% if @user.role == 5 && @user == current_user %>
       <%= link_to "Evaluate Back", back_path, class: "btn btn-lg btn-default" %>
      <% end %>
      
      <% if @user.role == 3 && @user == current_user %>
       <%= link_to "Evaluate Team", manager_path, class: "btn btn-lg btn-default" %>
      <% end %>
       </div>
    </section>
    
    
    <h2><%= simple_format( @user.comment_one) %></h2>
    <h2><%= simple_format( @user.comment_two) %></h2>
    
    
    
  </aside>
  
  
</div>