<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-11 ">
    <section class="user_info">
      <h4>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h4>
      <h5>
        <% if @user.role == 0 %>
          <h3>Director</h3>
        <% end %>
        <% if @user.role == 1 %>
          <h3>Front of House</h3>
          <h3>Team Member</h3>
        <% end %>
        <% if @user.role == 2 %>
          <h3>Back of House</h3>
          <h3>Team Member</h3>
        <% end %>
         <% if @user.role == 3 %>
          <h3>Manager</h3>
        <% end %>
         <% if @user.role == 4 %>
          <h3>Front of House</h3>
          <h3>Shift Leader</h3>
        <% end %>
         <% if @user.role == 5 %>
          <h3>Back of House</h3>
          <h3>Shift Leader</h3>
        <% end %>
      </h5>
      
      
      <div class="col-md-1 text-center" > 
      <% if @user.role == 0 && @user == current_user %>
       <%= link_to "Evaluate Team", all_path, class: "btn btn-lg btn-default" %>
      <% end %>
      
      <% if @user.role == 4 && @user == current_user %>
       <%= link_to "Evaluate Front", front_path, class: "btn btn-lg btn-default" %>
      <% end %>
      
      <% if @user.role == 5 && @user == current_user %>
       <%= link_to "Evaluate Back", back_path, class: "btn btn-lg btn-default" %>
      <% end %>
      
      <% if @user.role == 3 && @user == current_user %>
       <%= link_to "Evaluate Team", manager_path, class: "btn btn-lg btn-default" %>
      <% end %>
       </div>
    </section>
      
      
      
   
      
      
      <aside class="col-md-10 col-md-offset-2">
      </aside>
       <aside class="col-md-10 col-md-offset-3">
      <div class="form-group">
            <div class="form-inline">
            <div class="form-group">
                  <h6> H </h6>
                    <aside class="col-md-11 col-md-offset-3">
                      <a title="Hunger for Wisdom:
Do they continue to learn and expand their knowledge?"> <%= image_tag("info_three.png", :alt => "rss feed")%> </a>
                    </aside>
            </div>
            <div class="form-group">
                  <h6> E </h6>
                    <aside class="col-md-11 col-md-offset-3">
                       <a title="Expect the Best:
Are they a role model living up to our standards or do they try to cut corners?"> <%= image_tag("info_three.png", :alt => "rss feed")%> </a>
                    </aside>
            </div>
            <div class="form-group">
                  <h6> A </h6>
                     <aside class="col-md-11 col-md-offset-3">
                      <a title="Accept Responsibility:
When they made a mistake, do they own up to
it and grow from the experience?"> <%= image_tag("info_three.png", :alt => "rss feed")%> </a>
                    </aside>
            </div>
            <div class="form-group">
                  <h6> R </h6>
                    <aside class="col-md-11 col-md-offset-3">
                     <a title="Respond with Courage:
Do they do the right thing even when it’s not easy?"> <%= image_tag("info_three.png", :alt => "rss feed")%> </a>
                    </aside>
            </div>
            <div class="form-group">
                  <h6> T </h6>
                    <aside class="col-md-11 col-md-offset-1">
                      <a title="Think others first:
Do they think of their fellow team members and how they can help them 
before they think of what’s easiest for them?"> <%= image_tag("info_three.png", :alt => "rss feed")%> </a>
                    </aside>
            </div>
        </div>
    </div>
    </aside>
      
      <!-- For all team members not including directors -->
      <% if @user.role == 1 || @user.role == 2 || @user.role == 3 || @user.role == 4 || @user.role == 5 %>
      <aside class="col-md-11 col-md-offset-1">
      <div class="form-group">
            <div class="form-inline">
              <%= image_tag("myAverage.png", :alt => "rss feed")%>
            <div class="form-group">
                <% if @user.question_one >= 0.0 && @user.question_one <= 0.94 %>
                    <h2> <%= @user.question_one %> </h2>
                <% end %>
                <% if @user.question_one >=0.95 && @user.question_one <= 1.94 %>
                  <red><h2> <%= @user.question_one %> </h2></red>
                <% end %>
                <% if @user.question_one >= 1.95 && @user.question_one <= 2.94 %>
                  <orange><h2> <%= @user.question_one %> </h2></orange>
                <% end %>
                <% if @user.question_one >= 2.95 && @user.question_one <= 3.94 %>
                  <yellow><h2> <%= @user.question_one %> </h2></yellow>
                <% end %>
                <% if @user.question_one >= 3.95 && @user.question_one <= 4.94 %>
                  <lime><h2> <%= @user.question_one %> </h2></lime>
                <% end %>
                <% if @user.question_one >= 4.95 %>
                  <green><h2> <%= @user.question_one %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% if @user.question_two >= 0.0 && @user.question_two <= 0.94 %>
                    <h2> <%= @user.question_two %> </h2>
                <% end %>
                  <% if @user.question_two >= 0.95 && @user.question_two <= 1.94 %>
                  <red><h2> <%= @user.question_two %> </h2></red>
                <% end %>
                <% if @user.question_two >= 1.95 && @user.question_two <= 2.94 %>
                  <orange><h2> <%= @user.question_two %> </h2></orange>
                <% end %>
                <% if @user.question_two >= 2.95 && @user.question_two <= 3.94 %>
                  <yellow><h2> <%= @user.question_two %> </h2></yellow>
                <% end %>
                <% if @user.question_two >= 3.95 && @user.question_two <= 4.94 %>
                  <lime><h2> <%= @user.question_two %> </h2></lime>
                <% end %>
                <% if @user.question_two >= 4.95 %>
                  <green><h2> <%= @user.question_two %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% if @user.question_three >= 0.0 && @user.question_three <= 0.94 %>
                    <h2> <%= @user.question_three %> </h2>
                <% end %>
                  <% if @user.question_three >= 0.95 && @user.question_three <= 1.94 %>
                  <red><h2> <%= @user.question_three %> </h2></red>
                <% end %>
                <% if @user.question_three >= 1.95 && @user.question_three <= 2.94 %>
                  <orange><h2> <%= @user.question_three %> </h2></orange>
                <% end %>
                <% if @user.question_three >= 2.95 && @user.question_three <= 3.94 %>
                  <yellow><h2> <%= @user.question_three %> </h2></yellow>
                <% end %>
                <% if @user.question_three >= 3.95 && @user.question_three <= 4.94 %>
                  <lime><h2> <%= @user.question_three %> </h2></lime>
                <% end %>
                <% if @user.question_three >= 4.95 %>
                  <green><h2> <%= @user.question_three %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% if @user.question_four >= 0.0 && @user.question_four <= 0.94 %>
                    <h2> <%= @user.question_four %> </h2>
                <% end %>
                  <% if @user.question_four >= 0.95 && @user.question_four <= 1.94 %>
                  <red><h2> <%= @user.question_four %> </h2></red>
                <% end %>
                <% if @user.question_four >= 1.95 && @user.question_four <= 2.94 %>
                  <orange><h2> <%= @user.question_four %> </h2></orange>
                <% end %>
                <% if @user.question_four >= 2.95 && @user.question_four <= 3.94 %>
                  <yellow><h2> <%= @user.question_four %> </h2></yellow>
                <% end %>
                <% if @user.question_four >= 3.95 && @user.question_four <= 4.94 %>
                  <lime><h2> <%= @user.question_four %> </h2></lime>
                <% end %>
                <% if @user.question_four >= 4.95 %>
                  <green><h2> <%= @user.question_four %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% if @user.question_five >= 0.0 && @user.question_five <= 0.94 %>
                    <h2> <%= @user.question_five %> </h2>
                <% end %>
                  <% if @user.question_five >= 0.95 && @user.question_five <= 1.94 %>
                  <red><h2> <%= @user.question_five %> </h2></red>
                <% end %>
                <% if @user.question_five >= 1.95 && @user.question_five <= 2.94 %>
                  <orange><h2> <%= @user.question_five %> </h2></orange>
                <% end %>
                <% if @user.question_five >= 2.95 && @user.question_five <= 3.94 %>
                  <yellow><h2> <%= @user.question_five %> </h2></yellow>
                <% end %>
                <% if @user.question_five >= 3.95 && @user.question_five <= 4.94 %>
                  <lime><h2> <%= @user.question_five %> </h2></lime>
                <% end %>
                <% if @user.question_five >= 4.95 %>
                  <green><h2> <%= @user.question_five %> </h2></green>
                <% end %>
            </div>
        </div>
    </div>
    </aside>
    <% end %>
    
    <!-- store's average -->
    <aside class="col-md-11 col-md-offset-1">
      <div class="form-group">
            <div class="form-inline">
              <%= image_tag("storeAverage.png", :alt => "rss feed")%>
            <div class="form-group">
                <% average = User.average(:question_one) %>
                <% if average >= 0.0 && average <= 0.94 %>
                  <h2> <%= number_with_precision(average, :precision => 1) %> </h2>
                <% end %>
                <% if average >= 0.95 && average <= 1.94 %>
                  <red><h2> <%= number_with_precision(average, :precision => 1) %> </h2></red>
                <% end %>
                <% if average >= 1.95 && average <= 2.94 %>
                  <orange><h2> <%= number_with_precision(average, :precision => 1) %> </h2></orange>
                <% end %>
                <% if average >= 2.95 && average <= 3.94 %>
                  <yellow><h2> <%= number_with_precision(average, :precision => 1) %> </h2></yellow>
                <% end %>
                <% if average >= 3.95 && average <= 4.94 %>
                  <lime><h2> <%= number_with_precision(average, :precision => 1) %> </h2></lime>
                <% end %>
                <% if average >= 4.95 %>
                  <green><h2> <%= number_with_precision(average, :precision => 1) %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% average1 = User.average(:question_two) %>
                <% if average1 >= 0.0 && average1 <= 0.94 %>
                  <h2> <%= number_with_precision(average1, :precision => 1) %> </h2>
                <% end %>
                <% if average1 >= 0.95 && average1 <= 1.94 %>
                  <red><h2> <%= number_with_precision(average1, :precision => 1) %> </h2></red>
                <% end %>
                <% if average1 >= 1.95 && average1 <= 2.94 %>
                  <orange><h2> <%= number_with_precision(average1, :precision => 1) %> </h2></orange>
                <% end %>
                <% if average1 >= 2.95 && average1 <= 3.94 %>
                  <yellow><h2> <%= number_with_precision(average1, :precision => 1) %> </h2></yellow>
                <% end %>
                <% if average1 >= 3.95 && average1 <= 4.94 %>
                  <lime><h2> <%= number_with_precision(average1, :precision => 1) %> </h2></lime>
                <% end %>
                <% if average1 >= 4.95 %>
                  <green><h2> <%= number_with_precision(average1, :precision => 1) %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% average2 = User.average(:question_three) %>
                <% if average2 >= 0.0 && average2 <= 0.94 %>
                    <h2> <%= number_with_precision(average2, :precision => 1) %> </h2>
                <% end %>
                <% if average2 >= 0.95 && average2 <= 1.94 %>
                  <red><h2> <%= number_with_precision(average2, :precision => 1) %> </h2></red>
                <% end %>
                <% if average2 >= 1.95 && average2 <= 2.94 %>
                  <orange><h2> <%= number_with_precision(average2, :precision => 1) %> </h2></orange>
                <% end %>
                <% if average2 >= 2.95 && average2 <= 3.94 %>
                  <yellow><h2> <%= number_with_precision(average2, :precision => 1) %> </h2></yellow>
                <% end %>
                <% if average2 >= 3.95 && average2 <= 4.94 %>
                  <lime><h2> <%= number_with_precision(average2, :precision => 1) %> </h2></lime>
                <% end %>
                <% if average2 >= 4.95 %>
                  <green><h2> <%= number_with_precision(average2, :precision => 1) %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% average3 = User.average(:question_four) %>
                <% if average3 >= 0.0 && average3 <= 0.94 %>
                    <h2> <%= number_with_precision(average3, :precision => 1) %> </h2>
                <% end %>
                <% if average3 >= 0.95 && average3 <= 1.94 %>
                  <red><h2> <%= number_with_precision(average3, :precision => 1) %> </h2></red>
                <% end %>
                <% if average3 >= 1.95 && average3 <= 2.94 %>
                  <orange><h2> <%= number_with_precision(average3, :precision => 1) %> </h2></orange>
                <% end %>
                <% if average3 >= 2.95 && average3 <= 3.94 %>
                  <yellow><h2> <%= number_with_precision(average3, :precision => 1) %> </h2></yellow>
                <% end %>
                <% if average3 >= 3.95 && average3 <= 4.94 %>
                  <lime><h2> <%= number_with_precision(average3, :precision => 1) %> </h2></lime>
                <% end %>
                <% if average3 >= 4.95 %>
                  <green><h2> <%= number_with_precision(average3, :precision => 1) %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% average4 = User.average(:question_five) %>
                <% if average4 >= 0.0 && average4 <= 0.94  %>
                    <h2> <%= number_with_precision(average4, :precision => 1) %> </h2>
                <% end %>
                <% if average4 >= 0.95 && average4 <= 1.94 %>
                  <red><h2> <%= number_with_precision(average4, :precision => 1) %> </h2></red>
                <% end %>
                <% if average4 >= 1.95 && average4 <= 2.94 %>
                  <orange><h2> <%= number_with_precision(average4, :precision => 1) %> </h2></orange>
                <% end %>
                <% if average4 >= 2.95 && average4 <= 3.94 %>
                  <yellow><h2> <%= number_with_precision(average4, :precision => 1) %> </h2></yellow>
                <% end %>
                <% if average4 >= 3.95 && average4 <= 4.94 %>
                  <lime><h2> <%= number_with_precision(average4, :precision => 1) %> </h2></lime>
                <% end %>
                <% if average4 >= 4.95 %>
                  <green><h2> <%= number_with_precision(average4, :precision => 1) %> </h2></green>
                <% end %>
            </div>
            <h3><%= "Hover mouse over"%> <%= image_tag("info_three.png", :alt => "rss feed")%> <%="to see a detailed description of each letter" %></h3>
            <aside class="col-md-3 col-md-offset-2">
            <%= image_tag("scale.png", :alt => "rss feed")%>
            </aside>
        </div>
    </div>
    </aside>
    
     <% if @user.role == 1 || @user.role == 2 || @user.role == 3 || @user.role == 4 || @user.role == 5 %>
       <aside class="col-md-3 col-md-offset-1">
      <div class="form-group">
            <div class="form-inline">
            <div class="form-group">
                  <h11> Questions: </h11>
            </div>
        </div>
    </div>
    </aside>
    
    <!-- extra question results -->
     <aside class="col-md-9 col-md-offset-1">
      <div class="form-group">
              <% if @user.role == 1  || @user.role == 4 %>
                <h3> Communicating respectively to Guests and Team Members </h3>
              <% end %>
              
              <% if @user.role == 2  || @user.role == 5 %>
                <h3> Following Proper Policies & Procedures </h3>
                <h3> - i.e. Uniform, LEAN, Timers, Cell Phones </h3>
              <% end %>
              
              <% if @user.role == 3 %>
                <h3> Leading By Example </h3>
              <% end %>
              <div class="form-inline">
                <div class="form-group">
               <!--<%= image_tag("myAverage.png", :alt => "rss feed")%>-->
               <h15> My Average | Store Average </h15>
               </div>
               </div>
               <div class="form-inline">
                <div class="form-group">
                <% if @user.extra_one >= 0.0 && @user.extra_one <= 0.94 %>
                    <h2> <%= @user.extra_one %> </h2>
                <% end %>
                <% if @user.extra_one >= 0.95 && @user.extra_one <= 1.94 %>
                  <red><h2> <%= @user.extra_one %> </h2></red>
                <% end %>
                <% if @user.extra_one >= 1.95 && @user.extra_one <= 2.94 %>
                  <orange><h2> <%= @user.extra_one %> </h2></orange>
                <% end %>
                <% if @user.extra_one >= 2.95 && @user.extra_one <= 3.94 %>
                  <yellow><h2> <%= @user.extra_one %> </h2></yellow>
                <% end %>
                <% if @user.extra_one >= 3.95 && @user.extra_one <= 4.94 %>
                  <lime><h2> <%= @user.extra_one %> </h2></lime>
                <% end %>
                <% if @user.extra_one >= 4.95 %>
                  <green><h2> <%= @user.extra_one %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% average = User.average(:extra_one) %>
                <% if average >= 0.0 && average <= 0.94 %>
                  <h16> <%= number_with_precision(average, :precision => 1) %> </h16>
                <% end %>
                <% if average >= 0.95 && average <= 1.94 %>
                  <red><h16> <%= number_with_precision(average, :precision => 1) %> </h16></red>
                <% end %>
                <% if average >= 1.95 && average <= 2.94 %>
                  <orange><h16> <%= number_with_precision(average, :precision => 1) %> </h16></orange>
                <% end %>
                <% if average >= 2.95 && average <= 3.94 %>
                  <yellow><h16> <%= number_with_precision(average, :precision => 1) %> </h16></yellow>
                <% end %>
                <% if average >= 3.95 && average <= 4.94 %>
                  <lime><h16> <%= number_with_precision(average, :precision => 1) %> </h16></lime>
                <% end %>
                <% if average >= 4.95 %>
                  <green><h16> <%= number_with_precision(average, :precision => 1) %> </h16></green>
                <% end %>
            </div>
            </div>
            <div class="form-group">
              <% if @user.role == 1  || @user.role == 4 %>
                <h3> Following Proper Policies & Procedures - i.e. Uniforms, </h3>
                <h3> Portioning, Sauces, Cell Phones </h3>
              <% end %>
              
               <% if @user.role == 2  || @user.role == 5 %>
                <h3> Communicating respectively to Guests and Team Members </h3>
              <% end %>
              
              <% if @user.role == 3 %>
                <h3> Taking Initiative </h3>
              <% end %>
              
              <div class="form-inline">
                <div class="form-group">
               <!--<%= image_tag("myAverage.png", :alt => "rss feed")%>-->
               <h15> My Average | Store Average </h15>
               </div>
               </div>
                <div class="form-inline">
                <div class="form-group">
                <% if @user.extra_two >= 0.0 && @user.extra_two <= 0.94 %>
                    <h2> <%= @user.extra_two %> </h2>
                <% end %>
                <% if @user.extra_two >= 0.95 && @user.extra_two <= 1.94 %>
                  <red><h2> <%= @user.extra_two %> </h2></red>
                <% end %>
                <% if @user.extra_two >= 1.95 && @user.extra_two <= 2.94 %>
                  <orange><h2> <%= @user.extra_two %> </h2></orange>
                <% end %>
                <% if @user.extra_two >= 2.95 && @user.extra_two <= 3.94 %>
                  <yellow><h2> <%= @user.extra_two %> </h2></yellow>
                <% end %>
                <% if @user.extra_two >= 3.95 && @user.extra_two <= 4.94 %>
                  <lime><h2> <%= @user.extra_two %> </h2></lime>
                <% end %>
                <% if @user.extra_two >= 4.95 %>
                  <green><h2> <%= @user.extra_two %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
                <% average = User.average(:extra_two) %>
                <% if average >= 0.0 && average <= 0.94 %>
                  <h16> <%= number_with_precision(average, :precision => 1) %> </h16>
                <% end %>
                <% if average >= 0.95 && average <= 1.94 %>
                  <red><h16> <%= number_with_precision(average, :precision => 1) %> </h16></red>
                <% end %>
                <% if average >= 1.95 && average <= 2.94 %>
                  <orange><h16> <%= number_with_precision(average, :precision => 1) %> </h16></orange>
                <% end %>
                <% if average >= 2.95 && average <= 3.94 %>
                  <yellow><h16> <%= number_with_precision(average, :precision => 1) %> </h16></yellow>
                <% end %>
                <% if average >= 3.95 && average <= 4.94 %>
                  <lime><h16> <%= number_with_precision(average, :precision => 1) %> </h16></lime>
                <% end %>
                <% if average >= 4.95 %>
                  <green><h16> <%= number_with_precision(average, :precision => 1) %> </h16></green>
                <% end %>
            </div>
            </div>
            
            <div class="form-group">
               <% if @user.role == 1  || @user.role == 4 %>
                <h3> Attendance & Punctuality </h3>
              <% end %>
              
              <% if @user.role == 2  || @user.role == 5 %>
                <h3> Knowing & Adhering to Food Safety Procedures </h3>
                <h3> - i.e. changing gloves, washing hands </h3>
              <% end %>
              
              <% if @user.role == 3 %>
                <h3> Ability to run a shift efficiently </h3>
              <% end %>
              
              <div class="form-inline">
                <div class="form-group">
               <h15> My Average | Store Average </h15>
               </div>
               </div>
                <div class="form-inline">
                <div class="form-group">
                <% if @user.extra_three >= 0.0 && @user.extra_three <= 0.94 %>
                    <h2> <%= @user.extra_three %> </h2>
                <% end %>
                <% if @user.extra_three >= 0.95 && @user.extra_three <= 1.94 %>
                  <red><h2> <%= @user.extra_three %> </h2></red>
                <% end %>
                <% if @user.extra_three >= 1.95 && @user.extra_three <= 2.94 %>
                  <orange><h2> <%= @user.extra_three %> </h2></orange>
                <% end %>
                <% if @user.extra_three >= 2.95 && @user.extra_three <= 3.94 %>
                  <yellow><h2> <%= @user.extra_three %> </h2></yellow>
                <% end %>
                <% if @user.extra_three >= 3.95 && @user.extra_three <= 4.94 %>
                  <lime><h2> <%= @user.extra_three %> </h2></lime>
                <% end %>
                <% if @user.extra_three >= 4.95 %>
                  <green><h2> <%= @user.extra_three %> </h2></green>
                <% end %>
            </div>
            <div class="form-group">
               <% average = User.average(:extra_three) %>
                <% if average >= 0.0 && average <= 0.94 %>
                  <h16> <%= number_with_precision(average, :precision => 1) %> </h16>
                <% end %>
                <% if average >= 0.95 && average <= 1.94 %>
                  <red><h16> <%= number_with_precision(average, :precision => 1) %> </h16></red>
                <% end %>
                <% if average >= 1.95 && average <= 2.94 %>
                  <orange><h16> <%= number_with_precision(average, :precision => 1) %> </h16></orange>
                <% end %>
                <% if average >= 2.95 && average <= 3.94 %>
                  <yellow><h16> <%= number_with_precision(average, :precision => 1) %> </h16></yellow>
                <% end %>
                <% if average >= 3.95 && average <= 4.94 %>
                  <lime><h16> <%= number_with_precision(average, :precision => 1) %> </h16></lime>
                <% end %>
                <% if average >= 4.95 %>
                  <green><h16> <%= number_with_precision(average, :precision => 1) %> </h16></green>
                <% end %>
            </div>
            </div>
            
            <div class="form-group">
              <% if @user.role == 1  || @user.role == 4 %>
                <h3> Going above & beyond for guests - Second Mile Service </h3>
              <% end %>
              
              <% if @user.role == 2  || @user.role == 5 %>
                <h3> Attendance & Punctuality </h3>
              <% end %>
              
              <% if @user.role == 3 %>
                <h3> Actively Involved in Leadership Development Program </h3>
              <% end %>
              
              <div class="form-inline">
                <div class="form-group">
               <h15> My Average | Store Average </h15>
               </div>
               </div>
                <div class="form-inline">
                <div class="form-group">
               <% if @user.extra_four >= 0.0 && @user.extra_four <= 0.94 %>
                    <h2> <%= @user.extra_four %> </h2>
                <% end %>
                <% if @user.extra_four >= 0.95 && @user.extra_four <= 1.94 %>
                  <red><h2> <%= @user.extra_four %> </h2></red>
                <% end %>
                <% if @user.extra_four >= 1.95 && @user.extra_four <= 2.94 %>
                  <orange><h2> <%= @user.extra_four %> </h2></orange>
                <% end %>
                <% if @user.extra_four >= 2.95 && @user.extra_four <= 3.94 %>
                  <yellow><h2> <%= @user.extra_four %> </h2></yellow>
                <% end %>
                <% if @user.extra_four >= 3.95 && @user.extra_four <= 4.94 %>
                  <lime><h2> <%= @user.extra_four %> </h2></lime>
                <% end %>
                <% if @user.extra_four >= 4.95 %>
                  <green><h2> <%= @user.extra_four %> </h2></green>
                <% end %>
           </div>
            <div class="form-group">
               <% average = User.average(:extra_four) %>
                <% if average >= 0.0 && average <= 0.94 %>
                  <h16> <%= number_with_precision(average, :precision => 1) %> </h16>
                <% end %>
                <% if average >= 0.95 && average <= 1.94 %>
                  <red><h16> <%= number_with_precision(average, :precision => 1) %> </h16></red>
                <% end %>
                <% if average >= 1.95 && average <= 2.94 %>
                  <orange><h16> <%= number_with_precision(average, :precision => 1) %> </h16></orange>
                <% end %>
                <% if average >= 2.95 && average <= 3.94 %>
                  <yellow><h16> <%= number_with_precision(average, :precision => 1) %> </h16></yellow>
                <% end %>
                <% if average >= 3.95 && average <= 4.94 %>
                  <lime><h16> <%= number_with_precision(average, :precision => 1) %> </h16></lime>
                <% end %>
                <% if average >= 4.95 %>
                  <green><h16> <%= number_with_precision(average, :precision => 1) %> </h16></green>
                <% end %>
            </div>
            </div>
            
            <div class="form-group">
               <% if @user.role == 1  || @user.role == 4 %>
                <h3> Knowing & Following Store Non-negotiables </h3>
              <% end %>
              
               <% if @user.role == 2  || @user.role == 5 %>
                <h3> Knowing & Following Store Non-negotiables </h3>
              <% end %>
              
              <% if @user.role == 3 %>
                <h3>  Follow through - to projects and responsibilities given, </h3>
                <h3>  and inspecting what you expect from team members </h3>
              <% end %>
              
              <div class="form-inline">
                <div class="form-group">
               <h15> My Average | Store Average </h15>
               </div>
               </div>
                <div class="form-inline">
                <div class="form-group">
               <% if @user.extra_five >= 0.0 && @user.extra_five <= 0.94 %>
                    <h2> <%= @user.extra_five %> </h2>
                <% end %>
                <% if @user.extra_five >= 0.95 && @user.extra_five <= 1.94 %>
                  <red><h2> <%= @user.extra_five %> </h2></red>
                <% end %>
                <% if @user.extra_five >= 1.95 && @user.extra_five <= 2.94 %>
                  <orange><h2> <%= @user.extra_five %> </h2></orange>
                <% end %>
                <% if @user.extra_five >= 2.95 && @user.extra_five <= 3.94 %>
                  <yellow><h2> <%= @user.extra_five %> </h2></yellow>
                <% end %>
                <% if @user.extra_five >= 3.95 && @user.extra_five <= 4.94 %>
                  <lime><h2> <%= @user.extra_five %> </h2></lime>
                <% end %>
                <% if @user.extra_five >= 4.95 %>
                  <green><h2> <%= @user.extra_five %> </h2></green>
                <% end %>
            </div>
            
             <div class="form-group">
               <% average = User.average(:extra_five) %>
                <% if average >= 0.0 && average <= 0.94 %>
                  <h16> <%= number_with_precision(average, :precision => 1) %> </h16>
                <% end %>
                <% if average >= 0.95 && average <= 1.94 %>
                  <red><h16> <%= number_with_precision(average, :precision => 1) %> </h16></red>
                <% end %>
                <% if average >= 1.95 && average <= 2.94 %>
                  <orange><h16> <%= number_with_precision(average, :precision => 1) %> </h16></orange>
                <% end %>
                <% if average >= 2.95 && average <= 3.94 %>
                  <yellow><h16> <%= number_with_precision(average, :precision => 1) %> </h16></yellow>
                <% end %>
                <% if average >= 3.95 && average <= 4.94 %>
                  <lime><h16> <%= number_with_precision(average, :precision => 1) %> </h16></lime>
                <% end %>
                <% if average >= 4.95 %>
                  <green><h16> <%= number_with_precision(average, :precision => 1) %> </h16></green>
                <% end %>
            </div>
            </div>
            <div class="form-group">
        </div>
    </aside>
    <% end %>
    </section>
    
    <% if @user.role == 1 || @user.role == 2 || @user.role == 3 || @user.role == 4 || @user.role == 5 %>
     <aside class="col-md-11 col-md-offset-1"> 
    <h14><%= "Comments:" %></h14>
    <h13><%= simple_format( @user.comment_one) %></h13>
    <h13><%= simple_format( @user.comment_two) %></h13>
    <h13><%= simple_format( @user.comment_three) %></h13>
    <h13><%= simple_format( @user.comment_four) %></h13>
    <h13><%= simple_format( @user.comment_five) %></h13>
    <h13><%= simple_format( @user.comment_six) %></h13>
    <h13><%= simple_format( @user.comment_seven) %></h13>
    <h13><%= simple_format( @user.comment_eight) %></h13>
    <h13><%= simple_format( @user.comment_nine) %></h13>
    <h13><%= simple_format( @user.comment_ten) %></h13>
    <h13><%= simple_format( @user.comment_eleven) %></h13>
    <h13><%= simple_format( @user.comment_twelve) %></h13>
    <h13><%= simple_format( @user.comment_thirteen) %></h13>
    <h13><%= simple_format( @user.comment_fourteen) %></h13>
    <h13><%= simple_format( @user.comment_fifteen) %></h13>
    <h13><%= simple_format( @user.comment_sixteen) %></h13>
    <h13><%= simple_format( @user.comment_seventeen) %></h13>
    <h13><%= simple_format( @user.comment_eighteen) %></h13>
    <h13><%= simple_format( @user.comment_nineteen) %></h13>
    <h13><%= simple_format( @user.comment_twenty) %></h13>
    <h13><%= simple_format( @user.comment_twenty_one) %></h13>
    <h13><%= simple_format( @user.comment_twenty_two) %></h13>
    <h13><%= simple_format( @user.comment_twenty_three) %></h13>
    <h13><%= simple_format( @user.comment_twenty_four) %></h13>
    <h13><%= simple_format( @user.comment_twenty_five) %></h13>
    <% end %>
  </aside>  
  </aside>
  
  
</div>